extends includes/layout

block content
    center
        .jumbotron
            h1(style='font-size:125px')
                i.glyphicon.glyphicon-eye-close
            h3 Oops, this content is for registered users only.
            h1(style='font-size:125px') 401