extends includes/layout

block content
     center
        .jumbotron
            h1(style='font-size:125px')
                i.glyphicon.glyphicon-road
            h3 Oops, it looks like you made a wrong turn.
            h1(style='font-size:125px') 404