extends includes/layout

block content
    .jumbotron
        center
            img(src='/static/img/grumpy-cat.png')
    h1 Actualizing The Grumpy Meme
    +newRow()
        +newCol()
            +panel("This is a panel about the grumpy meme", "primary") This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text.
        +newCol()
            +panel("This is another panel about the grumpy meme", "primary") This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text.
        +newCol()
            +panel("This is a final panel about the grumpy meme", "primary") This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text. This is text that represents penl text.